.landing-container {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/img/landing.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.landing-container h1,
.landing-container h2 {
  margin: 0;
  padding: 40px;
  color: white;
  text-align: center;
}

.landing-container button {
  font-size: 18px;
  background-color: black;
  letter-spacing: 1.5px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.landing-container button:hover {
  background-color: #676767;
}
