.container-create {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/img/createActivities.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.formStyles {
  width: 400px;
  height: auto;
  margin: 50px auto;
  padding: 20px;
}

.formStyles div {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  color: black;
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

span {
  color: red;
  font-size: 14px;
}

button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  color: #fff;
  cursor: pointer;
}

button:hover {
  transition: 0.3s ease-in-out;
  background-color: #676767;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-bottom: 5px;
}

/*   Nombre de países con la cruz para quitar de lista de asociados */
.country-item {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.country-item li {
  margin-right: 10px;
}

.country-item button {
  font-size: 15px;
  padding: 5px 10px;
  background-color: transparent;
  color: #ff0000;
  cursor: pointer;
}
